<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <article class="page-content">
      <header class="section-heading section-heading_projects">
        <div class="wrapper">
          <div class="section-heading__content">
            <h1 class="black">{{ page.title }}</h1>
            <h2>{{ page.long-description }}</h2>
            {% if page.project-url and page.project-url-title %}
              <a href="{{ page.project-url }}" target="_blank">{{ page.project-url-title }}</a>
            {% endif %}
          </div>
        </div>
      </header>

      {{ content }}

      <section class="section-content section-content-project">
        <div class="wrapper">
          <div class="section-content__main section-content__main-project">
            <a href="/proyectos">← Ver más proyectos.</a>
          </div>
        </div>
      </section>

      <section class="navigation section-last">
        <div class="wrapper">
          <div class="section-content__main section-content__highlight">
            <h1>¿Te gusta lo que ves? ¿Quieres que trabajemos juntos?</h1>
            <a href="/contacto" class="button">Escríbenos.</a>
          </div>
        </div>
      </section>
    </article>

    {% include footer.html %}

  </body>
  {% include analytics.html %}

</html>
